.load-label{
    display: inline block;
}

.choose-file{
    width:90px;
    height: 25px;
    float: left;
    padding-left: 20px;
}


.url-wrapper{
    width: 400px;
    height: 25px;
    float: right;
}

.url-input{
    width: 350px;
    float: left;
    background: #494A4C;
    border-radius: 5px;
}

.url-input input{
    width: 340px;
    height: 25px;
    border: none;
    background: none;
    padding-left: 10px;
}


.get{
    width:40px;
    float: right;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border-radius: 5px;
}



.get input{
    width: 40px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
}

.get input:active{
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.work-area{
    width: 100%;
    /*border: 1px solid blue;*/
}


.download-wrapper div{
    width: 110px;
    height: 30px;
    background: #4B4C52;
    border-radius: 10px;
}

.download-wrapper div a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    display: block;
    line-height: 30px;
    text-align: center;
}

.fit-image{
    float: left;
}



.download-main{
    float: right;
}

.canvas-wrapper-main{
    width: 900px;
    margin: 0px auto;
}


#playground{
    /*margin: 0px auto;*/
    background: white;
}


.layer-bar{
    width:100%;
    height: 300px;
    position: relative;
    background: #474748;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.opacity-bar{
    width: 100%;
    height: 25px;
    background: #3B3B3B;
}

.opacity-bar label{
    height: 25px;
    line-height: 25px;
    color: #777471;
    font-size: 12px;
    padding-left: 10px;
}

.opacity-bar input{
    width: 100px;
    float: right;
    padding-right: 5px;
}


.layer-title, .property-title{
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 5px 0px;
    /*border-top: 2px solid #282828;*/
    /*color: #8E8C8C;*/
    color: #E4E4F5;
    /*border: 1px solid red;*/
    
}

.layer-list-wrapper ul li, .property-list-wrapper ul li{
    padding: 5px 0px;
    padding-left: 10px;
    height: 18px;
    line-height: 18px;
    border-bottom:1px solid #2B2E3C;
    /*color: #7D7977;*/
    color: #E4E4F5;
}


ul.layer-list, ul.property-list, ul#filter-list{
    list-style: none;
    /*border: 1px solid blue;*/
}

ul.layer-list{
    height: 225px;
    overflow-y: auto;
    padding-top: 5px;
}

.layer-action{
    width: 100%;
    height: 20px;
    background: #3B3B3B;
    position: absolute;
    bottom: 0;
}

.layer-action-button{
    width: 20px;
    height: 20px;
    background: url('../images/icons/delete_icon2.png') no-repeat;
    background-position: 50% 50%;
    /*border:2px solid red;*/
    border:none;
}

.blank{
    width: 100%;
    height: 20px;
}

.properties {
    background: #474748;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*height: 150px;*/
}

.property-list label{
    padding-right: 10px;
    padding-left: 5px;
}

.prop-input{
    width: 100px;
}


.all-filters ul{
    list-style: none;
}

.all-filters ul li{
    float: left;
    width: 100px;
    height: 75px;
    padding-right: 7px;
    padding-left: 7px;
}


.all-filters ul li .filter{
    width:100px;
    height: 55px;
    /*border: 1px solid red;*/
    position: relative;
}

.all-filters ul li .filter:hover{
   cursor: pointer;
}

.all-filters ul li.grayscale .filter{
    background: url('../images/samples/grayscale.png') no-repeat;
    background-position: 0 0;
    /*background: 100%;*/
    background-size: cover;
}

.all-filters ul li.brightness .filter{
    background: url('../images/samples/brightness.png') no-repeat;
    background-position: 0 0;
    /*background: 100%;*/
    background-size: cover;
}

.all-filters ul li.threshold .filter{
    background: url('../images/samples/threshold.png') no-repeat;
    background-position: 0 0;
    /*background: 100%;*/
    background-size: cover;
}

.all-filters ul li.sharpen .filter{
    background: url('../images/samples/sharpen.png') no-repeat;
    background-position: 0 0;
    /*background: 100%;*/
    background-size: cover;
}

.all-filters ul li.blur .filter{
    background: url('../images/samples/blur.png') no-repeat;
    background-position: 0 0;
    /*background: 100%;*/
    background-size: cover;
}


.all-filters ul li.motion-blur .filter{
    background: url('../images/samples/motion-blur.png') no-repeat;
    background-position: 0 0;
    /*background: 100%;*/
    background-size: cover;
}


.all-filters ul li .filter img{
    width: 100%;
}


.all-filters ul li .filter .over-filter{
    width:100px;
    height: 54px;
    position: absolute;
    top:0;
    left:0;
    
    background: black;
    opacity: 0.8;
}

.over-filter .bottom-div{
    width: 100%;
    height: 35px;   
    padding-top: 10px;
}

.bottom-div .bottom-left{
    width: 48%;
    float: left;
}

.bottom-div .bottom-right{
    width: 48%;
    float: right;
}


.bottom-div .bottom-left .hide-div{
    width: 35px;
    border-radius: 35px;
    height: 35px;
    background: white;
    margin: 0px auto;
}

.bottom-div .bottom-right .remove-div{
    width: 35px;
    border-radius: 35px;
    height: 35px;
    background: white;
    margin: 0px auto;
}

.all-filters ul li span{
    display: block;
    width: 100%;
    height: 20px;
    font-size: 12px;
    text-align: center;
    color: #D6CECE;
    line-height: 20px;

}




.filter-slider-wrapper{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    /*border:2px solid red;*/
    position: absolute;
    top :-45px;
    left:400px;
    background: #2B2E3C;
}

.filter-slider-wrapper input{
    width: 400px;
    height: 25px;
}

.filter-slider-wrapper .filter-value-holder{
    margin: 0px auto;
    width: 100px;
    text-align: center;
    font-size: 12px;
    color: white;
}






.clr:before, .clr:after{
    content: "";
    display: table;
}

.clr:after{
    clear: both;
}

.clr{zoom:1; /*IE6&7*/}


.toolbar input{
    width: 100%;
}

.toolbar .tool-wrapper{
    padding-top: 5px;
}

/*layer li style*/
.layer-list .over{
    border: 2px dash red;
}
