*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #303030;
}

.main-container{
    max-width: 85.375em;
    height: 650px;
    /*border: 1px solid red;*/
    margin: 0px auto;
    font-family: arial;
    background: #303030;
}

.header-wrapper{
    width: 100%;
    height: 40px;
    background: #282828;
    padding-top: 10px;
}

.load-image {
    width: 65%;
    float: left;
}

.download-wrapper{
    width: 20%;
    float: right;
    padding-right: 15px;
}



.work-area{
    padding-top: 10px;
    border-bottom: 2px solid #282828;
    height: 510px;
}



.toolbar {
    width: 3%;
    float: left;
    padding-left: 15px;
    padding-top: 5px;
    /*background: #353950;*/
    /*background: #2B2E3C;*/
}

.content-wrapper{
    width: 95%;
    float: right;
}

.canvas-wrapper {
    width: 85%;
    float: left;
}

.info-bar{
    width: 14%;
    float: right;
    font-size: 12px;
    height: 505px;
    /*background: #474748;*/
    margin-right: 10px;
    /*border: 1px solid black;*/
}


.filter-container{
    width: 100%;
    height: 75px;
    background: #282828;
    /*overflow: hidden;*/
    position: relative;
}

.all-filters{
    width: 100%;
}